/* @todo; Delete all unused styles, there's a lot of them */

/* Variables */
:root {
  --border: #dee2e6;  /* Bootstrap's default border color */
}


body {
  padding-top: 5rem;  /* Spacing for the nav header */

  /* Background setting */
  min-height: 100vh;  /* Stretch it out, no whitespace*/
  background-image: url("/media/default-project-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;  /* Don't scroll with page */

  /* Default text color */
  color: #444444;
}

/* Images always have to fit into their parents */
img {
  max-width: 100%;
  max-height: 100%;
}

/* @todo; Why do we remove <ul> margins? */
ul {  margin: 0; }

/* Shade the navbar, don't just make it dark */
nav.navbar-dark {
  background: rgba(0,0,0,0.7);
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}
.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}
.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

#lang-dropdown-btn { margin: 5px 0; } /* Vertical center @dirty */


.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.link-img {
  height: 28px;
  width: 28px;
  margin-right: 1px;
  margin-bottom: 1px;
}

.account-heading {
  font-size: 2.5rem;
}

.customer-name {
  color: #444444;
}

.customer-detail {
  /* white-space: pre-line; */
}

.customer-title {
  color: #3933ff
}

.customer-logo {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.project-logo {
  height: 40px;
  width: 120x;
  margin-right: 5px;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.customer-detail-content {
  /* white-space: pre-line; */
}

.customer-detail-content-highlighite {
  color: #3933ff
}

.link-side-bar-img {
  height: 100px;
  width: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.right-column{
  background-color: #b6b4db;
}

.right-column-button{
  background-color: #cbc9f1;
}

.emails-section {
  background: #ffffff;
  padding: 20px 0px;
}

.delete-icon {
  height: 20px;
  width: 20px;
  margin-left: 10px;
}

.stat_page_body {
  margin-top: 2em;
}

.doc_thumbnail {
  width: 100px;
  margin-left: 10px;
}


/* Login popup */
#LOGIN_POPUP {
  position: fixed;
  top: 0; left: 0;
  width: 100vw;
  height: 100vh;
  
  background: rgba(0,0,0, 0.5)
}


#LOGIN_POPUP fieldset > .form-group {
  padding: 0 0.5rem
}



/* Key-value pairs, lists */

/* Pad the content but not the heading */
dl {
  --leftpad: 0.5rem;
  padding-left: var(--leftpad);
}
dl > h4 {
  margin-left: calc(-1 * var(--leftpad));
}
dl > h4,
.section-header {
  border-bottom: 1px solid var(--border);
}

dl ul {
  /* ...Same styles as bootstrap's ".list-unstyled" */
  padding-left: 1em;
}
dl > h4 > a.btn,
dl > h4 > button.btn {
  /* Buttons next to the headings need a slight nudge */
  position: relative;
  top: -0.2em;
}
dl > dt {
  /* Key */
  display: block;

  margin: 0;

  font-size: 0.9em;
  font-weight: initial;
  line-height: 1.05em;
}
dl > dd {
  /* Value */
  display: block;

  margin: 0;
  margin-top: 0.25rem;
  margin-bottom: 0.75rem;

  font-size: 1.1em;
  font-weight: bold;
  line-height: 1.15em;
}

/* Dude, bootstrap has .small but not .big?? */
.big {
  font-size: 1.1em;
}




/* Styles for buttons that only have an icon */
.btn-icon-only {
  padding: 0.125rem;
}
.btn-icon-noborder {
  padding: 0.125rem;
  border-color: transparent !important;
}


/**********
 * Tables */

/* Because we might be rendering a table with tags or filters,
   we might not have control over the classes inside the table.
   Use classes as sparsely as possible to avoid having to control
   classes by passing data to the filters. */

/* Use a wrapper with Bootstrap to make it scrollable, bordered,
   rounded corners etc. */

table {
  min-width: 100%;
  overflow: hidden;
  font-size: 1.1em;
}
table th {
  background-color: var(--dark);
  color: var(--light);

  padding: .9rem .5rem;
  font-size: 1.1em;  /* Stacks with wrap's ems */
}
table td {
  padding: .2rem .5rem;
}

table tr {
  background-color: var(--white);
}
table tr:nth-child(2n) {
  background-color: var(--light);
}

table th, table td {
  border: 0px solid var(--dark);
  border: 0px solid rgba(0,0,0,0.1);
}
table th:not(:last-child),
table td:not(:last-child) {
  border-width: 0 1px 0 0;
}

table .btn-icon-only {
  text-align: center;
}



/**********
 * Footer */

#Footer h1, #Footer h2, #Footer h3,
#Footer h4, #Footer h5, #Footer h6 {
  color: white;
}

#Footer .lang-switcher {
  position: absolute;  /* Needs a correct `position: relative;` anchor */
  top: 0.6em;
  right: 1em;
  z-index: 1; /* Otherwise mouse events don't register */
}

#Footer .form-group {
  /* Reset the excessive margins in the tight footer space */
  margin: 0;
}

/*********************************************************
 * Custom Utility Classes
 */

/* Note / line-heights: Bootstrap makes line heights
   really big, like 1.4 for text.
   That's just ridiculous for headings. */
.line-height-minimal {
  line-height: 1.0;
}
.line-height-smaller {
  line-height: 1.2;
}

/* Use this style for any error messages intended
   for development  */
.debug-error {
  background-color: var(--red);
  color: var(--light);
}


/* Limit element height to be always smaller than
   the window size, making the element always fittable
   to view. Can be used well with scroll-wraps. */
.max-height-visible {
  max-height: 80vh;
}

.doc_list {
  table-layout: fixed;
  width: 100%;
}

.doc_list td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.thumbnail {
  width: 150px;
}

.icons {
  width: 50px;
}
